<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="{% static 'img/py.png' %}">

    <title>{{title}} | HerokuB2 Club</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style media="screen">
      body {
        padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="{% url 'members:all_members' %}">HerokuB2 Club</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'members:all_members' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'members:new_member' %}">New Member</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div><!-- /.container -->

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
